body {
    background-color: rgb(59, 59, 59);6
}

.container {
    overflow: hidden;
    margin: 1% 10%;
    text-align: center;

    background-color: grey;
    border-radius: 25px;
    border: 2px;
}
  
h1 {
    font-family: arial;
    color: white;
}

h2 {
    font-family: arial;
    color: white;
}

h3 {
    font-family: arial;
    color: white;
    text-align: left;
    margin-left: 20px;
}

p {
    font-family: arial;
    color: white;
}

li {
    font-family: arial;
    color: white;
    text-align: left;
    margin: 20px;
}